<div id="<%= dom_id dataset %>">

  <p class="font-semibold text-4xl"><%= dataset.name %></p>

  <p class="my-2">
    <p>filename: <%= dataset.file.blob.filename %></p>
    <p>filetype: <%= dataset.file.content_type %></p>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this dataset", dataset, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this dataset', edit_dataset_path(dataset), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
