<%= form_with(model: dataset, class: "space-y-8 divide-gray-200", id: "dataset-form") do |form| %>
  <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
    <div class="space-y-6 sm:space-y-5">
      <% if dataset.errors.any? %>
        <div id="error_explanation" class="bg-red-50 text-red-500 p-1 font-medium rounded-md mt-3">
          <ul>
            <%= render 'layouts/form_alert', errors: dataset.errors %>
          </ul>
        </div>
      <% end %>
      <div class="space-y-6 pt-8 sm:space-y-5 sm:pt-10">
        <div>
          <h3 class="text-base font-semibold leading-6 text-gray-900">Basic Information</h3>
          <p class="mt-1 max-w-2xl text-sm text-gray-500">Basic information about your dataset</p>
        </div>
        <div class="space-y-6 sm:space-y-5">
          <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
            <%= form.label :name, class: "block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5" %>
            <div class="mt-2 sm:col-span-2 sm:mt-0">
              <%= form.text_field :name, class: "block w-full max-w-lg rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
            </div>
          </div><div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
            <%= form.label :description, class: "block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5" %>
            <div class="mt-2 sm:col-span-2 sm:mt-0">
              <%= form.text_field :description, class: "block w-full max-w-lg rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
            </div>
          </div>
          <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
            <%= form.label :price, class: "block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5" %>
            <div class="mt-2 sm:col-span-2 sm:mt-0">
              <% if current_user.stripe_connected_account_success %>
                <%= form.number_field :price, disabled: !form.object.new_record?, class: "block w-full max-w-lg rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
              <% else %>
                <p>Setup and connect your Stripe account to enable selling</p>
                <%= link_to "Visit your profile", user_path %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="space-y-6 pt-8 sm:space-y-5 sm:pt-10">
        <div>
          <h3 class="text-base font-semibold leading-6 text-gray-900">Database Information</h3>
          <p class="mt-1 max-w-2xl text-sm text-gray-500">Information about the data source you're using</p>
        </div>
        <div class="space-y-6 sm:space-y-5">
          <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
            <%= form.label :dataset_type, class: "block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5" %>
            <div class="mt-2 sm:col-span-2 sm:mt-0">
              <%= form.select :dataset_type, options_for_select(Dataset.dataset_types.map { |k,v| [k.humanize, k]}, selected = @dataset.dataset_type), {:prompt => "Select dataset type" }, {"v-on:change": "handleSelectChange", :class => "block w-full max-w-lg rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"}%>
            </div>
          </div>

          <div v-if="selectedDataType == 'airtable' || selectedDataType == 'notion'" class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
            <%= form.label :database_url, class: "block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5" %>
            <div class="mt-2 sm:col-span-2 sm:mt-0">
              <%= form.text_field :database_url, class: "block w-full max-w-lg rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
            </div>
          </div>

          <div v-if="selectedDataType == 'spreadsheet'" class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:border-t sm:border-gray-200 sm:pt-5">
            <%= form.label :file, class: "block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5" %>
            <div class="mt-2 sm:col-span-2 sm:mt-0">
              <%= form.file_field :file, class: "block w-full max-w-lg rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
            </div>
          </div>

        </div>
      </div>

      <div class="pt-5">
        <div class="flex gap-x-3 justify-between">
          <div class="">
            <% if @dataset.persisted? %>
              <%= button_to "Delete", dataset_path, method: :delete, data: {"turbo-confirm": 'Are you sure you want to delete this dataset?'}, class: "rounded-md bg-white py-2 px-3 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" %>
          <% end %>
          </div>
          <div class="flex gap-x-3">
            <%= link_to "Cancel", datasets_path, class: "rounded-md bg-white py-2 px-3 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" %>
            <%= form.submit class: "inline-flex justify-center rounded-md btn-gradient py-2 px-3 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>