<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
<% end %>

<%= render @dataset %>

<% if @dataset.spreadsheet? && @data %>
  <%= render 'datasets/data_table', data: @data %>
<% elsif @dataset.airtable?  %>
  <iframe src="<%= @airtable_url %>" class="w-full h-4/5" ></iframe>
<% elsif @dataset.notion? %>
  <iframe src="<%= @notion_url %>" class="w-full h-4/5"></iframe>
<% end %>

<div id="btn-container" class="mt-8 p-2">
  <%= link_to 'Edit this dataset', edit_dataset_path(@dataset), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <div class="inline-block ml-2">
    <%= button_to 'Destroy this dataset', dataset_path(@dataset), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
  </div>
  <%= link_to 'Back to datasets', datasets_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <button id="copy-url-btn" class="ml-2 rounded-lg py-3 px-5 bg-white border border-gray-200 inline-block font-medium">Share this database</button>
</div>